@using Ecommerce.ViewModels
@model NavigationViewModel

  <!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-area="">Ecommerce Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li><a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">All Products</a></li>

            </ul>
            <form asp-controller="Cart" asp-action="Index" asp-area="" class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    @if(Model.Cart == null)
                    {
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>

                    }else
                    {
                        <span class="badge bg-dark text-white ms-1 rounded-pill">@Model.Cart.Count</span>

                    }
                </button>
            </form>

            <partial name="_LoginPartial" />

        </div>
    </div>
</nav>